<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1>Flight List</h1>
  <table>
    <thead>
      <tr>
        <th>Delete</th>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight No.</th>
        <th>Departure</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(flight => { %>
        <tr>
          <td><form action="/flights/<%= flight._id %>?_method=DELETE" class="delete-form" method="POST">
            <button type="submit">x</button>
          </form></td>
          <td><%= flight.airline %></td>
          <td><%= flight.airport %></td>
          <td><a href="/flights/<%= flight._id %>" <%- title === 'Flight Details' ? 'class="active"' : '' %>><%= flight.flightNo %></a></td>
          <td><%= flight.departs %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>